<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Página de Inicio</title>
    <link rel="stylesheet" type="text/css" href="tu-archivo-css.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/estudiantes" class="active">Estudiantes</a></li>
            <li><a href="/informacion">Información</a></li>
        </ul>
    </nav>

    <h1>Bienvenido a Tu Página de Inicio</h1>
    <p>Contenido de tu página de inicio.</p>
</body>
</html>